
      <footer>

                <!-- <div class ="topnav">
                  <input type="text" placeholder="Search">
                </div> -->

              <div>
                <button class="w3-button"><a href="{{ url_for('about') }}">About</a></button>
              </div>

              <div>
                <button class="w3-button"><a href="{{ url_for('about_data') }}">Data</a></button>
              </div>


              <div>
                <button class="w3-button"><a href="{{ url_for('terms_of_use') }}">Terms of Use</a></button>
              </div>

              <div>
                <button class="w3-button"><a href="{{ url_for('contact_us') }}">Contact Us</a></button>
              </div>

              <div>&copy;Oscar Winners</div>

      </footer>
