
      <footer>

                <!-- <div class ="topnav">
                  <input type="text" placeholder="Search">
                </div> -->
                <div class="w3-dropdown-hover footer-cell" style="height: 0px;">
                </div>
    

              <div class="w3-dropdown-hover footer-cell">
                <button class="w3-button"><a href="{{ url_for('about') }}">About</a></button>
              </div>

              <div class="w3-dropdown-hover footer-cell">
                <button class="w3-button"><a href="{{ url_for('about_data') }}">Data</a></button>
              </div>


              <div class="w3-dropdown-hover footer-cell">
                <button class="w3-button"><a href="{{ url_for('terms_of_use') }}">Terms of Use</a></button>
              </div>

              <div class="w3-dropdown-hover footer-cell">
                <button class="w3-button"><a href="{{ url_for('contact_us') }}">Contact Us</a></button>
              </div>

              <div><strong>&copy;Oscar Winners </strong>| All Rights Researved</div>

      </footer>
