
        <footer>

                <!-- <div class ="topnav">
                  <input type="text" placeholder="Search">
                </div> -->
            
              <div>
                About
              </div>
            
              <div>
                Data
              </div>
            
            
              <div>
                  Terms of Use
              </div>
            
              <div>
                Contact Us
              </div>
            
              <div>&copy;Oscar Winners</div>
            
      </footer>
