
<body>
    <header>
        <div id="title">
          <a href="{{ url_for('homepage') }}">Oscar Winners</a>
        </div>
        <div id="subtitle">
          Casting future Oscar Winners
        </div>
        
        <div class ="topnav">
            <form class="main-form" align="center" id="myForm" method="POST" target="_blank"> 
                <input type="text" name="year" placeholder="Search">
                <!-- <input type="submit"><i class="fas fa-search"></i> -->
                <button type="submit">
                    <i class="fa fa-car"></i>
                </button>
              </form>
            <!-- dropdown message of instructions for search bar inputs -->
            <div class="tooltip">What can I type in the search bar?
                <span class="tooltiptext">
                  <p>
                    <strong>Year (e.g., "1972")</strong> </br>
                    --> must be from 1927-2019 </br>
                    <strong>Category + Year (e.g., "best actress 2016")</strong> </br>
                    --> must be from one of four categories: </br>
                    -best picture </br>
                    -best actor </br>
                    -best actress </br>
                    -best director
                  </p>
                   </span>
              </div>
        </div>
        
        <div class="w3-dropdown-hover topnav-cell">
          <button class="w3-button">Winners by Category</button>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <a href="{{ url_for('pictures') }}" class="w3-bar-item w3-button">Picture</a>
            <a href="{{ url_for('actors') }}" class="w3-bar-item w3-button">Actor</a>
            <a href="{{ url_for('actresses') }}" class="w3-bar-item w3-button">Actress</a>
            <a href="{{ url_for('directors') }}" class="w3-bar-item w3-button">Director</a>
            <!-- <a href="#" class="w3-bar-item w3-button">Cinematography</a> -->
          </div>
        </div>
        
        <!-- <div class="w3-dropdown-hover">
          <button class="w3-button">Trends by Decade</button>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <a href="#" class="w3-bar-item w3-button">2010-2019</a>
            <a href="#" class="w3-bar-item w3-button">2000-2009</a>
            <a href="#" class="w3-bar-item w3-button">1990-1999</a>
            <a href="#" class="w3-bar-item w3-button">1980-1989</a>
            <a href="#" class="w3-bar-item w3-button">1970-1979</a>
            <a href="#" class="w3-bar-item w3-button">1960-1969</a>
            <a href="#" class="w3-bar-item w3-button">1950-1959</a>
            <a href="#" class="w3-bar-item w3-button">1940-1949</a>
            <a href="#" class="w3-bar-item w3-button">1930-1939</a>
            <a href="#" class="w3-bar-item w3-button">1927-1929</a>
          </div>
        </div> -->
        <button class="w3-button topnav-cell"><a href="{{ url_for('trends') }}">Trends by Decade</a></button>
        <button class="w3-button topnav-cell"><a href="{{ url_for('about_oscars') }}">About the Oscars</a></button>
        <button class="w3-button topnav-cell"><a href="{{ url_for('winners2020') }}">Potential 2020 Winners</a></button>
        <!-- <button class="w3-button">Surveys</button> -->
        <button class="w3-button topnav-cell"><a href="{{ url_for('about_data') }}">About the Data</a></button>
        
      </header>

    </body>
