body {
  position: absolute;
  width: 100%;
}

header {
  position: fixed;
  top: 0px;
  padding: 40px;
  margin-bottom: 50px;
  z-index: 10;
  background-color: goldenrod;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header a {
  text-decoration: none;
}

.home-top {
  display: flex;
  top: 190px;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-top img{
  width: 100%;
  z-index: 0;
}

.home-top .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 247, 231, 0.836);
  z-index: 5;
  text-align: center;
  display: flex;
  justify-content: center;
}

.home-top .title {
  font-size: 68px;
  top: 173px;
  color: darkgoldenrod;
  position: absolute;
}

.home-top .subtitle {
  font-size: 30px;
  top: 287px;
  color: cadetblue;
  position: absolute;
}

.home-top input {
  width: 400px;
  top: 384px;
  left: 430px;
  height: 35px;
  border-radius: 5px;
  position: absolute;
}

.home-top button {
  top: 384px;
  position: absolute;
  left: 839px;
  height: 32px;
  width: 32px;
}

#title{
  font-size: 40px;
  color: rgb(255, 249, 230);
}

#title a {
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 34px;
  left: 95px;
}

.main .subtitle{
  font-size: 24px;
}

#subtitle{
  font-style: italic;
  font-size: 17px;
  padding: 0px 10px 8px 60px;
  position: absolute;
  color: rgb(255, 237, 190);
  top: 87px;
}


form button {
  background-color: rgb(255, 253, 240);
  border: 0px;
  border-radius: 4px;
}

.fa-search:before {
  color: darkgoldenrod;
}

#topnav {
  display: inline-block;
}

.topnav {
  float: right;
  display: flex;
}

.w3-button, .topnav-cell a {
  height: 42px !important;
  color: rgb(85, 61, 8);
  font-size: 18px;
  /* padding: 0px; */
}

.w3-dropdown-hover:hover {
  border: none;
}

.topnav-cell .dropdown-parent {
  cursor: initial;
}

/* dropdown  */
.topnav-cell :hover, .w3-button:hover{
  color: goldenrod !important;
  background-color: white !important;
  border: none;
}

.topnav-cell .w3-button :hover{
  color: goldenrod !important;
  background-color: white !important;
}

/* Tooltip container */
.tooltip {
  position: absolute;
  display: flex;
  right: 40px;
  top: 148px;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 340px;
  top: 100%;
  left: 50%;
  margin-left: -200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.header-icon{
  width: 60px;
}

.main {
  vertical-align: middle;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  padding: 50px 100px 300px 100px;
  top: 200px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  min-height: 700px;
}

.homepage-graph {
  display: block;
  width: 464px;
  margin-left: auto;
  margin-right: auto;
  border: 7.5px solid;
  border-image-source: linear-gradient( to right, goldenrod, rgb(221, 180, 77), rgb(228, 195, 112),
  rgb(238, 211, 145), rgb(245, 231, 197), white, goldenrod, rgb(221, 180, 77), rgb(228, 195, 112),
  rgb(238, 211, 145), rgb(245, 231, 197) );
  border-image-slice: 20;
}

.homepage-movies iframe{
  border: 7.5px solid;
  border-image-source: linear-gradient( to right, goldenrod, rgb(221, 180, 77), rgb(228, 195, 112),
  rgb(238, 211, 145), rgb(245, 231, 197), white, goldenrod, rgb(221, 180, 77), rgb(228, 195, 112),
  rgb(238, 211, 145), rgb(245, 231, 197) );
  border-image-slice: 20;
}

.featured-contents{
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.homepage-movies {
  padding: 50px 0px;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.movie{
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.movie iframe{
  border: 7.5px solid;
  border-image-source: linear-gradient( to right, goldenrod, rgb(221, 180, 77), rgb(228, 195, 112),
  rgb(238, 211, 145), rgb(245, 231, 197), white, goldenrod, rgb(221, 180, 77), rgb(228, 195, 112),
  rgb(238, 211, 145), rgb(245, 231, 197) );
  border-image-slice: 20;
}

.homepage-movies .title{
  text-align: left;
}

.homepage-movies a{
  display: block;
  font-size: 20px;
  color: darkgoldenrod;
}


.main .title{
  text-align: center;
  font-size: 36px;
  color: goldenrod;
}

.main .maintitle{
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  color: goldenrod;
}


.best-content{
  left: 100px;
  position: relative;
  padding: 10px 20px 10px 200px;
}

#terms .best-content{
  left: 100px;
  position: relative;
  padding: 10px 20px 10px 140px;
  width: 750px;
  text-align: center;
}

#terms .best-bio{
  position: absolute;
  top: 100px;
}

.best-content .caption{
  font-size: 25px;
}

.best-content .best-photo{
  float: left;
  height: 300px;
  margin-right: 15px;
}

.best-content .best-bio{
  position: absolute;
  top: 380px;
}

.about-photo {
  width: 533px;
  position: absolute;
  left: 170px;
}

.about-bio{
  position: absolute;
  top: 380px;
  left: inherit;
  width: 670px;
  text-align: center;
}

.sidenav {
  background-color: rgba(218, 165, 32, 0.76);
  color: black;
  height: 100%;
  width: 285px;
  position: fixed;
  z-index: 0;
  top: 161px;
  left: -20px;
  overflow-x: auto;
  margin: 20px;
  padding: 50px 20px;
  text-align: right;
  color: white !important;
}

.trends-nav{
  left: -70px;
}

#trend-by-decade .best-content {
  padding: 10px 20px 10px 50px;
}


.sidenav .title{
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  width: 245px;
}

.sidenav a:hover{
  color: #f1f1f1;
}

#contact {
  padding: 30px;
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  text-align: center;
  position: inherit;
}

.container img{
  display: inline-block;
  width: 200px;
  height:200px;
}

.about-data {
  text-align: center;
  font-size: 16px;
}

.datasets {
  margin: 50px 10px;
  display: inline-flex;
}

.dataset {
  margin: 0px 0px 20px 20px;
  width: 350px;
  padding: 20px 10px 0px 10px;;
  /* height: 500px; */
  background-color: rgba(218, 165, 32, 0.295);
  border: 1px solid goldenrod;
}

.dataset .title {
  font-size: 21px;
  color: black;
  font-style: italic;
}

.category {
  list-style: square inside url("sqpurple.gif");
  text-align: left;
  height: 150px;
  margin: 25px;
}

#terms {
  height: 700px
}


footer{
  background-color: goldenrod;
  position: relative;
  width: 100%;
  display: grid;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
}


footer div{
  padding: 10px;
}


footer a {
  text-decoration: none;
}

.footer-cell {
  position: relative;
  background-color: goldenrod !important;
  padding: 0px;
  height: 40px;
}

.footer-cell a {
  height: 42px !important;
  color: rgb(85, 61, 8);
}


.footer-cell .w3-button {
  color: white !important;
  background-color: goldenrod !important;
  font-size: 16px;
}

.footer-cell .w3-button:hover a {
  color: white !important;
  background-color: goldenrod !important;
}


.trend-content {
  height: 760px;
}

.trend-content img{
  width: 35%;
  left: 500px;
  margin-top: 0px;
  position: absolute;
}

.decade-title {
  text-align: center;
  font-size: 36px;
  color: goldenrod;
}


/* result page */
.table .result {
  /* margin-left:300px; */
  /* margin-right:auto; */
  margin-top:10px;
  font-size: 20px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.result {
  align-items: center;
  display: flex;
  justify-content: center;
}


.result-title {
  font-size: 22px;
}

.table .ratings {
  /* margin-left:150px; */
  /* margin-right:auto; */
  margin-top:10px;
  font-size: 20px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ratings {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ratings-title {
  font-size: 22px;
}

.picture-year{
  font-size: 20px;
}

.picture-name {
  font-style: italic;
}


#winners2020 {
  display: table;
}

.winners2020-block-row {
  display: table-row;
}

.winners2020-block {
  display: table-cell;
}
