body {
  position: absolute;
  width: 100%;
}

header {
  position: fixed;
  top: 0px;
  padding: 40px;
  margin-bottom: 50px;
  z-index: 10;
  background-color: goldenrod;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header a {
  text-decoration: none;
}

/* #header iframe{
  border: 0px solid white;
  position: relative;
  top: 0px;
  height: -webkit-fill-available;
} */


#title{
  font-size: 30px;
}

#title a {
  text-decoration: none;
}

#subtitle{
  font-size: 12px;
}


#topnav {
  display: inline-block;
}

.topnav {
  float: right;
  display: block;
}
/*
header .w3-button a {
  text-decoration: none;
} */

.main-form {
  padding: 20px;
}

.main {
  vertical-align: middle;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  padding: 50px;
  top: 200px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

.homepage-graph {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.featured-contents{
  /* display: inline; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.homepage-movies {
  padding: 50px 0px;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
}

.homepage-movies .title{
  text-align: left;
}

.homepage-movies a{
  display: block;
}


.main .title{
  text-align: center;
  font-size: 36px;
  color: goldenrod;
}


.best-content{
  left: 100px;
  position: relative;
  padding: 10px 20px 10px 200px;
}

.best-content .caption{
  font-size: 24px;
}

.best-content .best-photo{
  float: left;
  height: 300px;
  margin-right: 15px;
}

.best-content .best-bio {
  position: absolute;
  top: 380px;
}


.sidenav {
  background-color: rgba(218, 165, 32, 0.623);
  height: 100%;
  width: 285px;
  position: fixed;
  z-index: -1;
  top: 161px;
  left: -20px;
  overflow-x: auto;
  margin: 20px;
  padding: 50px 20px;
  text-align: right;
}

.sidenav .title{
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #e0e0e0;
  display: block;
}

.sidenav a:hover{
  color: #f1f1f1;
}



.about-data {
  text-align: center;
  font-size: 16px;
}

.datasets {
  margin: 50px 10px;
  display: inline-flex;
}

.dataset {
  margin: 0px 0px 20px 20px;
  width: 350px;
  padding: 20px 10px 0px 10px;;
  /* height: 500px; */
  background-color: rgba(218, 165, 32, 0.295);
  border: 1px solid goldenrod;
}

.dataset .title {
  font-size: 21px;
  color: black;
  font-style: italic;
}

.category {
  list-style: square inside url("sqpurple.gif");
  text-align: left;
  height: 150px;
  margin: 25px;
}


footer{
  background-color: goldenrod;
  position: relative;
  width: 100%;
  top: 150px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


footer div{
  padding: 10px;
}


footer a {
  text-decoration: none;
}

/* result page */
.result {
  border:1px solid black;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
}
