body {
  position: absolute;
  width: 100%;
}

header {
  position: fixed;
  top: 0px;
  padding: 40px;
  margin-bottom: 50px;
  z-index: 10;
  background-color: goldenrod;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header a {
  text-decoration: none;
}

/* #header iframe{
  border: 0px solid white;
  position: relative;
  top: 0px;
  height: -webkit-fill-available;
} */


#title{
  font-size: 30px;
}

#title a {
  text-decoration: none;
}

#subtitle{
  font-size: 12px;
}



#topnav {
  display: inline-block;
}

.topnav {
  float: right;
  display: flex;
}

.topnav-cell a {
  height: 42px !important;
  color: black;
  /* padding: 0px; */
}

/* dropdown  */
.topnav-cell :hover{
  color: goldenrod;
  background-color: white;
}

/* Tooltip container */
.tooltip {
  position: absolute;
  display: flex;
  right: 40px;
  top: 132px;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 340px;
  top: 100%;
  left: 50%;
  margin-left: -200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*
header .w3-button a {
  text-decoration: none;
} */


.main {
  vertical-align: middle;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  padding: 50px 100px 300px 100px;
  top: 200px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  min-height: 700px;
}

.homepage-graph {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.featured-contents{
  /* display: inline; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.homepage-movies {
  padding: 50px 0px;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
}

.homepage-movies .title{
  text-align: left;
}

.homepage-movies a{
  display: block;
}


.main .title{
  text-align: center;
  font-size: 36px;
  color: goldenrod;
}


.best-content{
  left: 100px;
  position: relative;
  padding: 10px 20px 10px 200px;
}

.best-content .caption{
  font-size: 24px;
}

.best-content .best-photo{
  float: left;
  height: 300px;
  margin-right: 15px;
}

.best-content .best-bio {
  position: absolute;
  top: 380px;
}


.sidenav {
  background-color: rgba(218, 165, 32, 0.623);
  height: 100%;
  width: 285px;
  position: fixed;
  z-index: 0;
  top: 161px;
  left: -20px;
  overflow-x: auto;
  margin: 20px;
  padding: 50px 20px;
  text-align: right;
}

.sidenav .w3-button{
  text-align: right;
  color: white;
}

.sidenav .title{
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #e0e0e0;
  display: block;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.container {
  display: inline-block;
  width: 100px;
  height:100px;
}


.about-data {
  text-align: center;
  font-size: 16px;
}

.datasets {
  margin: 50px 10px;
  display: inline-flex;
}

.dataset {
  margin: 0px 0px 20px 20px;
  width: 350px;
  padding: 20px 10px 0px 10px;;
  /* height: 500px; */
  background-color: rgba(218, 165, 32, 0.295);
  border: 1px solid goldenrod;
}

.dataset .title {
  font-size: 21px;
  color: black;
  font-style: italic;
}

.category {
  list-style: square inside url("sqpurple.gif");
  text-align: left;
  height: 150px;
  margin: 25px;
}

#terms {
  height: 700px
}


footer{
  background-color: goldenrod;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


footer div{
  padding: 10px;
}


footer a {
  text-decoration: none;
}

.trend-content {
  height: 1000px;
}

.trend-content img{
  width: 35%;
  left: 285px;
  margin-top: 0px;
  position: absolute;
}

.decade-title {
  text-align: center;
  font-size: 36px;
  color: goldenrod;
}


/* result page */
.result {
  /* border:1px solid black; */
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  font-size: 20px;
  text-align: center;
}


.result-title {
  font-size: 22px;
}

.picture-year{
  font-size: 20px;
}

.picture-name {
  font-style: italic;
}
