<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>About the Data</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
</head>



<body>

        {% include "common/header.html" %}



<div class="main"> 
        <div class="about-data">
                <div class="title">
                        About the Data
                </div>
                We are using three separate datasets, each containing information about past Oscar winners.
                                
                <div class="datasets">
                        <div class="dataset">
                                <a class="title" href="https://www.boxofficemojo.com/oscar/">Box Office Mojo</a><br>
                                <ul class="category">
                                        <li>Nominees </li>
                                        <li>Year</li>
                                        <li>Studio</li>
                                        <li>Lifetime Gross</li>
                                </ul>
                                <a href="https://datahub.io/docs/terms-of-service">Terms of Use</a><br>
                                <p>This dataset contains box office information on all Hollywood films released from 1940 to 2018.</p>

                        </div>
                                        
                        
                        <div class="dataset">   
                                <a class="title" href="https://datahub.io/rufuspollock/oscars-nominees-and-winners">Data Hub</a><br> 
                                <ul class="category">
                                        <li>Nominees</li>
                                        <li>Year</li>
                                        <li>Whether It Won</li>
                                        <li>Entity (e.g., the actor/actress, director, cinematographer)</li>
                                </ul>
                                <a href="https://data.world/policy/terms/">Terms of Use</a><br> 
                                <p>This dataset contains all Oscar winners and nominees, from all awards categories, from 1927 to 2017. </p>

                        </div>

                                        
                        <div class="dataset">
                                <a class="title" href="https://cs.uwaterloo.ca/~s255khan/oscars.html">Winners of the Oscar Award</a><br>
                                <ul class="category">
                                        <li>Best Picture </li>
                                        <li>Best Actor </li>
                                        <li>Best Lead Actor </li>
                                        <li>Best Lead Actress</li>
                                        <li>Year </li>
                                        <li>Synopsis </li>
                                        <li>Genre</li>
                                </ul>
                                <div >Dataset is available for use for private websites.</div><br>
                                <p>This dataset has all Oscar winners in the 4 major awards categories, spanning from 1927 to 2018. It also includes genre and synopsis information for the winning films.</p>

                        </div>
                </div>
        </div>                      
</div>


        {% include "common/footer.html" %}

</body>
</html>
