<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>About the Oscars</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
</head>



<body>


        {% include "common/header.html" %}

<div class="main">
    <div class="sidenav">
        <div class="title">FILTER BY</div>
        <a href="#">Decade</a>
        <a href="#">Genre</a>
        <a href="#">Most Wins</a>
        <a href="#">Most Nominations</a>
      </div>
  <div id="oscar">
    <div class="title">
      About the Oscars
    </div>
    <div class = "best-content">
      <img class="best-photo" src="{{ url_for('static', filename='img/Oscar2019.jpeg') }}" alt="The Oscars trophy"></img>
      <div class="best-bio">
        <p>Every year, hundreds of millions of viewers tune in to watch the Oscars telecast, an extravagant awards ceremony that celebrates the finest achievements in film.
        From the first ceremony in 1927 to the latest ceremony in 2019, the Oscars have always been used as a benchmark to judge filmmaking excellence.</p>
      </div>
    </div>
  </div>
</div>

       {% include "common/footer.html" %}

</body>
</html>
