<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>Actors</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

<div>
        {% include "common/header.html" %}
      </div>


<div class="main">
    <div class="sidenav">
        <div class="title">FILTER BY</div>
        <a href="{{ url_for('actors_by_genre', genre='Drama') }}">Drama</a>
        <a href="{{ url_for('actors_by_genre', genre='Comedy') }}">Comedy</a>
        <a href="{{ url_for('actors_by_genre', genre='Action') }}">Action</a>
        <a href="{{ url_for('actors_by_genre', genre='Romance') }}">Romance</a>
        <a href="{{ url_for('actors_by_genre', genre='Thriller') }}">Thriller</a>
        <a href="{{ url_for('actors_by_genre', genre='Biography') }}">Biography</a>
        <a href="{{ url_for('actors_by_genre', genre='Adventure') }}">Adventure</a>
        <a href="{{ url_for('actors_by_genre', genre='Musical') }}">Musical</a>
        <a href="{{ url_for('actors_by_genre', genre='Family') }}">Family</a>
        <a href="{{ url_for('actors_by_genre', genre='History') }}">History</a>

      </div>
  <div id="actor">
    <div class="title">
      Best Actor Winners
    </div>
    <div class="best-content">
      <div class="caption">
        Best Actor 2019: <strong> Rami Malek </strong> 
      </div>
      <img class="best-photo" src="{{ url_for('static', filename='img/BestActor2019.jpg') }}" alt="Rami Malek Best Actor 2019"></img>
      <div class="best-bio">
        In 2019, Rami Malek won the Best Actor award for his starring role in <em>Bohemian Rhapsody.</em>
      </div>
    </div>
  </div>
</div>

<div class="result-subtitle">All Best Actor Winners</div>

<div class="table">
    {% block content %}
    <table class="result">
        <tr><th>Year</th><th>Film</th><th>Person</th></tr>
        {% for actor in actors %}
            <tr><td>{{ actor[2] }}</td><td>{{ actor[0] }}</td><td>{{ actor[1] }}</td></tr>
        {% endfor %}
    </table>
    {% endblock %}
</div>

<div>
    {% include "common/footer.html" %}
  </div>


</body>
</html>
