<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>Actors</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
</head>



<body>

<div id="header">
        {% include "common/header.html" %}
</div>


<div class="sidenav">
  <div class="title">Filter by:</div>
  <a href="#">Decade</a>
  <a href="#">Genre</a>
  <a href="#">Most Wins</a>
  <a href="#">Most Nominations</a>
</div>

<div class="main">
  <div id="actor">
    <div class="title">
      Best Actor Winners
    </div>
    <div class="actor-content">
      <div class="caption">
        Best Actor 2019: <strong> Rami Malek </strong> 
      </div>
      <img class="best-actor-photo" src="../img/BestActor2019.jpg" alt="Rami Malek Best Actor 2019"></img>
      <div class="best-actor-bio">
        In 2019, Rami Malek won the Best Actor award for his starring role in <em>Bohemian Rhapsody.</em>
      </div>
    </div>
  </div>
</div>



<div id="footer">
    <!-- <iframe src="../common/footer.html" width="100%" height="100%"></iframe> -->
    {% include "common/footer.html" %}
</div>
</body>
</html>
