<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>Actresses</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

<div>
        {% include "common/header.html" %}
</div>

<div class="main">
    <div class="sidenav">
        <div class="title">FILTER BY</div>
        <a href="#">Decade</a>
        <a href="#">Genre</a>
        <a href="#">Most Wins</a>
        <a href="#">Most Nominations</a>
      </div>
  <div id="actress">
    <div class="title">
      Best Actress Winners
    </div>
    <div class="best-content">
      <div class="caption">
        Best Actress 2019: <strong> Olivia Colman </strong>
      </div>
      <img class="best-photo" src="{{ url_for('static', filename='img/BestActress2019.jpg') }}" alt="Olivia Colman Best Actress 2019"></img>
      <div class="best-bio">
        In 2019, Olivia Colman won the Best Actress award for her starring role in <em>The Favourite.</em>
      </div>
    </div>
  </div>
</div>

    <div class="table">
            {% block content %}
            <table class="result">
                <tr><th>Year</th><th>Film</th><th>Person</th></tr>
                {% for actresse in actresses %}
                    <tr><td>{{ actresse[2] }}</td><td>{{ actresse[0] }}</td><td>{{ actresse[1] }}</td></tr>
                {% endfor %}
            </table>
            <!-- </table> -->
            {% endblock %}
        </div>
<div>
    {% include "common/footer.html" %}
</div>
</body>
</html>
