<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>Contact Us</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>

        {% include "common/header.html" %}

<div class="main">
    <div class="title">
        Contact Us
      </div>
    
  <div id="contact">

  <div class="container">
    <img src="{{ url_for('static', filename='img/Rie.jpg') }}" alt = "Rie Kurita"/>
    <a href="mailto:kuritar@carleton.edu">kuritar@carleton.edu</a>
  </div>
  <div class="container">
    <img src="{{ url_for('static', filename='img/Catalina.jpg') }}" alt = "Catalina Alvarez-Ruiz"/>
    <a href="mailto:alvarezruizc@carleton.edu">alvarezruizc@carleton.edu</a>

  </div>
  <div class="container">
    <img src="{{ url_for('static', filename='img/Sameer.jpg') }}" alt = "Sameer Swarup"/>
    <a href="mailto:swarups@carleton.edu">swarups@carleton.edu</a>

  </div>
  </div>
</div>

        {% include "common/footer.html" %}

</body>
</html>
