<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>Oscar Winners</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <div id="header">
          {% include "common/header.html" %}
  </div>

  <div class="home-top">
      <img src="{{ url_for('static', filename='img/home-top.jpg') }}"></img>
      <div class="overlay">
        <div class="title">Oscar Winners Database</div>
        <div class="subtitle">Interested in Movie Trends? Wondering About Past Oscar Winners?</div>
        <form class="main-form" align="center" id="myForm" method="POST" target="_blank"> 
            <input type="text" name="key" placeholder='Type in "Year" or "Year + Category"'>
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
          </form>
      </div>
    </div>



    
  <div class="main">
    <!-- featured data analysis -->
    <div>
      <div class="title">The Predicted Best Picture Winner</div>
      <img class="homepage-graph" alt = "Graph visualizing box office info, critic reviews and awards won for 2017 Oscar Best Picture nominees" src="{{ url_for('static', filename='img/prediction-graph.png') }}" ></img>
    </div>

    <!-- featured movies container -->
    <div class="featured-contents">
      <!-- featured movie trailer-->
      <div class="homepage-movies">
        <div class="title">Featured Past Winner</div>
        <iframe title = "Trailer for Bohemian Rhapsody" width="500" height="315"
        src="https://www.youtube.com/embed/mP0VHJYFOAU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <a href = "https://www.bohemianrhapsodymovie.co.uk/synopsis/">Bohemian Rhapsody's Synopsis</a>
      </div> <!-- featured -->

      <!-- potential winner trailer-->
      <div class="homepage-movies">
        <div class="title">Potential 2020 Winner</div>
        <iframe title = "Trailer for Once Upon A Time In Hollywood" width = "500" height = "315"
        src ="https://www.youtube.com/embed/ELeMaP8EPAA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
        </iframe>
        <a href = "https://www.sonypictures.com/movies/onceuponatimeinhollywood">Once Upon A Time In Hollywood's Synopsis</a>
      </div> <!-- potential -->
    </div> <!-- featured -->
  </div> <!-- main -->

  <div id="footer">
      <!-- <iframe src="../common/footer.html" width="100%" height="100%"></iframe> -->
      {% include "common/footer.html" %}
  </div>

</body>
</html>
