<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>Pictures</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

<div>
        {% include "common/header.html" %}
</div>

<div class="main">
    <div class="sidenav">
        <div class="title">FILTER BY</div>
        <a href="#">Decade</a>
        <a href="#">Genre</a>
        <a href="#">Most Wins</a>
        <a href="#">Most Nominations</a>
      </div>
  <div id="picture">
    <div class="title">
      Best Picture Winners
    </div>
    <div class="best-content">
      <div class="caption">
        Best Picture 2019: <strong> Green Book </strong>
      </div>
      <img class="best-photo" src="{{ url_for('static', filename='img/BestPicture2019.jpg') }}" alt="Green Book Best Picture 2019"></img>
      <div class="best-bio">
        In 2019, <em>Green Book</em> won the Best Picture award.
      </div>
    </div>
  </div>
</div>

    <div class="table">
            {% block content %}
            <table class="result">
                <tr class="result-title"><th>Year</th><th>Film</th></tr>
                {% for picture in pictures %}
                    <tr><td class="picture-year">{{ picture[1] }}</td><td class=picture-name>{{ picture[0] }}</td></tr>
                {% endfor %}
            </table>
            <!-- </table> -->
            {% endblock %}
        </div>

<div>
    {% include "common/footer.html" %}
</div>
</body>
</html>
