<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

<div id="header">
        {% include "common/header.html" %}
</div>
<div class="main">
        <div class="title" style="font-size: 36px;">{{ title }} </div>

        {% block content %}
            {% if display %}
      
        <div class="result-person">{{ person[1] }} </div>

        <table class="result">

        <tr><td style="padding: 10px 20px; border-right: groove gold 3px;">Film</td><td style="padding: 10px 20px;">{{ picture[0] }} &nbsp; ({{ picture[3] }}min)</td></tr>
        <tr><td style="padding: 10px 20px; border-right: groove gold 3px;">Genre</td><td style="padding: 10px 20px;">{{ picture[4] }}, {{ picture[5] }}</td></tr>
        <tr><td style="padding: 10px 20px; border-right: groove gold 3px;">Rating</td><td style="padding: 10px 20px;">{{ picture[2] }}</td></tr>
        <tr><td style="padding: 10px 20px; border-right: groove gold 3px;">Critic Score</td><td style="padding: 10px 20px;">{{ picture[7] }}</td></tr>
        <tr><td style="padding: 10px 20px; border-right: groove gold 3px;">Synopsis</td><td style="padding: 10px 20px;">{{ picture[8] }}</td></tr>

    </table>

        {% endif %}
        {% endblock %}
</div>

<div id="footer">
    {% include "common/footer.html" %}
</div>
    </body>
    </html>
</html>
