<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>About the Oscars</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
</head>

<body>

<div>
        {% include "common/header.html" %}
</div>

<div class="main">
    <div class="sidenav">
        <div class="title">FILTER BY</div>
        <a href="#">Decade</a>
        <a href="#">Genre</a>
        <a href="#">Most Wins</a>
        <a href="#">Most Nominations</a>
      </div>
  <div id="terms">
    <div class="title">
      Terms Of Use
    </div>

    <<section>
      By using the Oscar Winners website, you are agreeing to you are agreeing to be bound by the following terms and conditions ("Terms of Use").
      <ol>
        <li>The content of this site is for information and personal use only and not for commercial exploitation.</li>
        <li>You agree that the site is protected by copyright and trademark rights and laws.</li>
        <li>Oscar Winners shall not be liable for any loss, injury, claim, liability or damage of any kind resulting from your use of the site.</li>

      </ol>
    </section>

</div>

<div>
    {% include "common/footer.html" %}
</div>
</body>
</html>
