<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>Trend {{ start }}-{{ end }}</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

<div>
        {% include "common/header.html" %}
</div>

<div class="main">        
  <div class="sidenav trends">
                <div class="title">DECADES</div>
                <a href="{{ url_for('trends_by_decade', decade='2010') }}">2010-2018</a>
                <a href="{{ url_for('trends_by_decade', decade='2000') }}" >2000-2009</a>
                <a href="{{ url_for('trends_by_decade', decade='1990') }}" >1990-1999</a>
                <a href="{{ url_for('trends_by_decade', decade='1980') }}" >1980-1989</a>
                <a href="{{ url_for('trends_by_decade', decade='1970') }}" >1970-1979</a>
                <a href="{{ url_for('trends_by_decade', decade='1960') }}" >1960-1969</a>
                <a href="{{ url_for('trends_by_decade', decade='1950') }}" >1950-1959</a>
                <a href="{{ url_for('trends_by_decade', decade='1940') }}">1940-1949</a>
                <a href="{{ url_for('trends_by_decade', decade='1930') }}" >1930-1939</a>
                <a href="{{ url_for('trends_by_decade', decade='1920') }}" >1927-1929</a>
            </div>


    <div id="trend-by-decade">
        <div class="title">
                Trends {{ start }}-{{ end }}
        </div>
        <div class="best-content">

                {% block content %}
                <table class="result">
                    <tr class="result-title"><th>Year</th><th>Best Picture</th><th>Best Actor</th><th>Best Actress</th><th>Best Director</th></tr>
                    {% for info in infos %}
                        <tr><td>{{info[0]}}</td><td>{{ info[1][1].film }}</td><td>{{ info[1][2].film }} ({{ info[1][2].person }})</td><td>{{ info[1][3].film }} ({{ info[1][3].person }})</td><td>{{ info[1][4].film }} ({{ info[1][4].person }})</td></tr>
                    {% endfor %}
              </table>


              <table align="center"><tr><td>
                  <table class="result">
                      <tr class="result-title"><th>Genre</th><th>Count</th></tr>
                        {% for count in counts %}
                            <tr><td>{{ count[0] }}</td><td>{{ count[1] }}</td></tr>
                        {% endfor %}
                </table>
                    {% endblock %}
              </td><td>
                <table class="ratings">
                  <tr class="ratings-title"><th>Avg Score</th><th>Avg Rating</th></tr>
                    <tr><td>{{avgScores}}</td><td>{{avgRatings}}</td></tr>
                </table>
              </td></tr>
            </table>
        </div>
    </div>
</div>

<div>
    {% include "common/footer.html" %}
</div>
</body>
</html>
