<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset ="utf-8">
  <title>Winners 2020</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='oscars.css') }}" >
  <link rel="icon" href="{{ url_for('static', filename='img/head.jpg') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div id="header">
            {% include "common/header.html" %}
    </div>
    <div class="main">
      <div id="winners2020">
      <div class="maintitle">2020 Contendors</div>

      <div class="winners2020-block-row">
      <div class="winners2020-block">
      <div class="subtitle">Joker</div>
      <p>Director: Todd Phillips </br>
        Rated R </br>
      <a href="https://www.joker.movie/?synopsis">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for Joker" width = "500" height = "315"
          src="https://www.youtube.com/embed/t433PEQGErc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>

        <div class="winners2020-block">
      <div class="subtitle">Once Upon a Time in... Hollywood</div>
      <p>Director: Quentin Tarantino </br>
         Rated R </br>
      <a href="https://www.sonypictures.com/movies/onceuponatimeinhollywood">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for Once Upon A Time In Hollywood" width = "500" height = "315"
          src="https://www.youtube.com/embed/ELeMaP8EPAA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>
      </div>

      <div class="winners2020-block-row">
        <div class="winners2020-block">
      <div class="subtitle"></br>A Beautiful Day in the Neighborhood</div>
      <p>Director: Marielle Heller </br>
        Rated PG </br>
        <a href="https://www.abeautifulday.movie/synopsis/">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for A Beautiful Day in the Neighborhood" width = "500" height = "315"
          src="https://www.youtube.com/embed/-VLEPhfEN2M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>


        <div class="winners2020-block">
      <div class="subtitle"></br>Bombshell</div>
      <p>Director: Jay Roach </br>
        NR </br>
      <a href="https://bombshell.movie/about">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for Bombshell" width = "500" height = "315"
          src="https://www.youtube.com/embed/YXL33tEUA3g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>

    </div>

    <div class="winners2020-block-row">
        <div class="winners2020-block">
      <div class="subtitle"></br>The Irishman</div>
      <p>Director: Martin Scorsese</br>
        Rated R </br>
      <a href="https://www.rogerebert.com/reviews/the-irishman-movie-review-2019">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for The Irishman" width = "500" height = "315"
          src="https://www.youtube.com/embed/RS3aHkkfuEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>


        <div class="winners2020-block">
      <div class="subtitle"></br>Little Women</div>
      <p>Director: Greta Gerwig</br>
        Rated PG</br>
      <a href="https://www.littlewomen.movie/synopsis/">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for Little Women" width = "500" height = "315"
          src="https://www.youtube.com/embed/AST2-4db4ic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>


    </div>

    <div class="winners2020-block-row">
        <div class="winners2020-block">
      <div class="subtitle"></br>1917</div>
      <p>Director: Sam Mendes</br>
        Rated R</br>
      <a href="https://www.1917.movie/synopsis/">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for 1917" width = "500" height = "315"
          src="https://www.youtube.com/embed/TOkun-ZityQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>


        <div class="winners2020-block">
      <div class="subtitle"></br>Parasite</div>
      <p>Director: Bong Joon-ho</br>
        Rated R </br>
      <a href="https://www.parasite-movie.com/synopsis/">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for Parasite" width = "500" height = "315"
          src="https://www.youtube.com/embed/isOGD_7hNIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>


    </div>

    <div class="winners2020-block-row">
      <div class="winners2020-block">
      <div class="subtitle"></br>Jojo Rabbit</div>
      <p>Director: Taika Waititi</br>
        Rated PG-13 </br>
      <a href="https://www.imdb.com/title/tt2584384/plotsummary">Synopsis</a></p>
      <div class="movie">
          <iframe title = "Trailer for Jojo Rabbit" width = "500" height = "315"
          src="https://www.youtube.com/embed/tL4McUzXfFI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
      </div>


        <div class="winners2020-block">
      <div class="subtitle"></br>Marriage Story</div>
      <p>Director: Noah Baumbach</br>
        Rated R </br>
      <a href="https://www.rogerebert.com/reviews/marriage-story-2019">Synopsis</a></p>
      <div class="movie">
          <iframe title = "" width = "500" height = "315"
          src="https://www.youtube.com/embed/BHi-a1n8t7M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen>
          </iframe>
        </div>
   
      
      </div>
      
   </div>
      <p> Sources: </br>
        <a href="https://ew.com/oscars/2019/10/24/oscar-nomination-predictions-2020/">Entertainment Weekly's Early Predictions</a> </br>
        <a href="https://www.goldderby.com/feature/2020-oscar-predictions-best-picture-1202807517/">GoldDerby 2020 Oscar Predictions</a>
          </p>  
        </div>
          </div>
          
    </div>
    <div id="footer">
            {% include "common/footer.html" %}
    </div>
</body>
</html>